$cream: #f7f3d9;
$dark: #353535;
$red: #b45a4d;
$red2: #bf4532;

@mixin transform-rotation($degrees){
  -webkit-transform: rotate($degrees);
  transform: rotate($degrees);
}

%button-base {
  position: absolute;
  left: 70px;
  width: 140px;
  color: white;
  height: 30px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body {
  background-color: #E0F2FE;
  font-family: monospace;

  .time-label-wrapper {
    text-align: center;
    margin-top: 15vh;

    #time-label {
      font-size: 3em;
    }
  }

  .clock {
    position: relative;
    width: 300px;
    height: 300px;
    background: $cream;
    border: 20px solid $dark;
    margin: 8vh auto;

    #start-stop {
      @extend %button-base;
      top: -50px;
      background: #28e062;
    }

    .started {
      background-color: $red !important;
    }

    #reset {
      @extend %button-base;
      top: 320px;
      background: #d8a059;
    }

    #axis {
      background: $cream;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border: 5px solid $dark;
      border-radius: 50%;
      z-index: 3;
    }

    #hand {
      display: block;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -3px;
      width: 6px;
      height: 160px;
      background: $red;
      border-radius: 3px;
      z-index: 2;
    }

    .clock-face {
      display: block;
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -2px;
      width: 4px;
      height: 18px;
      background: $dark;
      border-radius: 2px;
      -webkit-transform-origin: 50% 140px;
      transform-origin: 50% 140px;
    }

    .ten {
      @include transform-rotation(36deg);
    }
    
    .twenty {
      @include transform-rotation(72deg);
    }
    
    .thirty {
      @include transform-rotation(108deg);
    }
    
    .fourty {
      @include transform-rotation(144deg);
    }
    
    .fifty {
      @include transform-rotation(180deg);
    }
    
    .sixty {
      @include transform-rotation(216deg);
    }
    
    .seventy {
      @include transform-rotation(252deg);
    }
    
    .eighty {
      @include transform-rotation(288deg);
    }
    
    .ninety {
      @include transform-rotation(324deg);
    }

    .digital-clock-wrapper {
      height: 35px;
      width: 105px;
      margin: 160px auto 0px auto;
      color: white;
      text-align: center;
      background: $dark;

      #digital-clock {
        padding-top: 5px;
        font-size: 20px;
      }
    }
  }

  .measure-wrapper {
    position: relative;
    width: 350px;
    margin: 0 auto;

    .measure {
      text-align: center;
      width: 175px;

      label {
        font-size: 24px;
        font-weight: 100;
      }

      button {
        background-color: #E0F2FE;
        color: #353535;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        outline: none;
      }
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $cream;
    color: $dark;
    text-align: center;
  }
}